<div class="bg-primary m-3 ml-5 p-2">
    <h3>內層元件</h3>
    <div>@Message</div>
</div>

@code {
    string Message = "";
    [CascadingParameter]
    NotificationCenter notificationCenter { get; set; }

    protected override void OnInitialized()
    {
        notificationCenter.OnMessageChange += x =>
        {
            Message = $"Hi ... {x} ";
        };
    }
}
