<div class="bg-primary m-3 ml-5 p-2">
    <h3>內層元件</h3>
    <div>@InnerMessage</div>
</div>

@code {
    [Parameter]
    public string InnerMessage { get; set; }

        protected override void OnParametersSet()
        {
            base.OnParametersSet();
        }
}
